---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Michelle Dagsa</h1>
    <span class="badge">Computer Science Student</span>
    <h2>About</h2>
    <p>
        My name is Michelle Herola Dagsa, and I am 22 years old. 
        I come from the picturesque municipality of Cagwait, 
        located in the beautiful province of Surigao del Sur. 
        Growing up in such a serene and vibrant place has 
        shaped my appreciation for nature and community. 
        I am currently a 4th-year student 
        pursuing a Bachelor of Science in Computer Science, 
        a field that challenges and excites me as 
        I delve deeper into technology and its potential to solve real-world problems.
    </p>
    <p>
        One of my greatest passions is cooking, 
        which has become a creative outlet for me. I love experimenting with new recipes and exploring different cuisines, as it allows me to combine my love for flavors and artistry. Beyond cooking, I have an innate curiosity for learning new things, whether it's picking up a new skill, exploring innovative technologies, or understanding different perspectives. I believe that continuous learning not only enhances my personal growth but also prepares me for a future full of opportunities and challenges. My journey is driven by my determination to excel and make meaningful contributions to the world around me.
    </p>
    <div class="center">
        <a href="/public/Resume.pdf" target="_blank" rel="noopener noreferrer">
            <button class="btn">View My CV</button>
        </a>
    </div>
    <h2>Interests</h2>
    <p>
        I enjoy cooking as a creative outlet and a way to share love through food. Traveling fuels my curiosity and allows me to explore new places and cultures. Drawing helps me express my imagination and brings my ideas to life, while watching fairy tale movies inspires me with their magic and timeless stories.
    </p>
</Layout>

