---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Michelle Portfolio</a>
    </div>
    <div class="navbar__menu">   
        <a href="/posts/">Hobbies</a>
        <a href="https://github.com/Michelledagsa25" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

